/*----------------------Head----------------*/

body{
   min-height: 100vh;
   background: #e7e7e7;
}
html{
   scroll-behavior: smooth;
}
/*-----------------Header------------*/

.navbar{
   display:flex;
   justify-content: space-between;
}
a{
   text-decoration: none;
   color: black;
}
.nav--link{
   margin-left: 2rem;
   align-items: center;
}
/*-------------------Main----------------*/

.flexbox li{
     list-style: none;
}
.flexbox{
   display: flex;
   align-items: center;
   height: 400px;
   width: 800px;
   gap: 5%;
   margin: 60px 600px;
}
img{
   height: 350px;
   width: 350px;
   border-radius: 200px;
   object-fit: cover;
}
.button{
   display: flex;
   width: 300px;
   flex-wrap: nowrap;
   justify-content: space-between;
}
.button1{
   height: 100px;
   width: 100px;
   background: rgb(214, 197, 3);
   position:absolute;
   border-radius: 150px; 
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.button2{
   height: 100px;
   width: 100px;
   background:red;
   position: absolute;
   border-radius: 150px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 
}
.button3{
   height: 100px;
   width: 100px;
   background: turquoise;
   position: absolute;
   border-radius: 150px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   right: ;
}
/*----------------------footer-------------------*/

.image{
   width: 23px;
    height: 20px;
    border-radius: 20%;
    }
footer{
   flex-shrink: 0;
   border-top: 1px solid #000;
   width: 100%;
   margin-top: 400px;
}
.end{
   width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: start;
   font-size: 15px;
   padding: 50px 0 100px;
   justify-content: space-between;
}
.end ul{
   list-style: none;
}
.end h4{
   align-items: center;
   text-align: center;
 }
/*---------------------------Media Queries------------------------*/

@media screen and (max-width: 1024px) {
   }
   /*-------------------header---------------*/
   main{
      max-width: 500px;
      width: 500px;
   }
   .navbar{
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-direction: column;
   }
   .header{
      width: 300%
   }
   .header__title{
      justify-content: center;
      text-align: center;
      align-items: center;
   }
   .header__link{
      width: 300%;
   }
   .nav--link{
      justify-content: center;
      text-align: center;
      align-items: center;
   }
   /*---------------main---------------*/
   main{
      justify-content: center;
      align-items: center;
   }
   .flexbox{
      flex-direction: column;
      align-items: center;
      height: 400px;
      width: 300px;
      margin: 0px 50px;
   }
   .flexbox_img{
      margin: 0px 0px;
   }
   .flexbox_text{
      width: 280px;
   }
   .flexbox_text h1,
   h3{
     justify-content: center; 
     align-items: center;
     text-align: center;
   }
   img{
      height: 200px;
      width: 200px;
      border-radius: 200px;
      object-fit: cover;
      margin-top: 20px;
   }
   /*------------------button-------------*/
   .button{
      display: flex;
      width: 200px;
      flex-wrap: nowrap;
      justify-content: space-between;
   
   }
   .button1{
      height: 80px;
      width: 80px;
      background: rgb(214, 197, 3);
      position:absolute;
      border-radius: 150px; 
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .button2{
      height: 80px;
      width: 80px;
      background:red;
      position: absolute;
      border-radius: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .button3{
      height: 80px;
      width: 80px;
      background: turquoise;
      position: absolute;
      border-radius: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   /*-------------------footer-----------------*/

   .image{
   width: 23px;
    height: 20px;
    border-radius: 20%;
    }
footer{
   border-top: 2px solid #000;
   max-width: 200%;
   width: 377px;
   margin-top: 250px;
   display: flex;
   align-items: center;
   flex-direction: column;
   }
.end{
   display: flex;
   width: 200px;
   margin: 0 0;
   flex-direction: column;
   justify-content: center;
   font-size: 17px;
   align-items: center;
}
.end h4{
   align-items: center;
   text-align: center;
}
.end ul{
   list-style: none;
}
}
@media screen and (min-width: 1025px) {

}
   