/*----------------------Head----------------*/

body{
   padding: 1rem 150px 0px 150px;
   min-height: 100vh;
   background: #e7e7e7;
}
html{
   scroll-behavior: smooth;
}
.header{
   border: 1px;
}
.header title{
   color: solid blueviolet
}
/*-----------------Header------------*/

.navbar{
   display:flex;
   justify-content: space-between;
}
a{
   text-decoration: none;
   color: black;
}
.nav--link{
   margin-left: 2rem;
   align-items: center;
}
/*-------------------Main----------------*/

main{
   min-width: 500px;
   width: 90%;
}
.flexbox li{
     list-style: none;
     height: 400px;
     width: 400px;
     margin: 40px;
}
.flexbox ul{
   display: flex;
   justify-content: center;
}
img{
   height: 400px;
   width: 400px;
   border-radius: 200px;
   object-fit: cover;
}
.button1{
   height: 100px;
   width: 100px;
   background: rgb(214, 197, 3);
   position:absolute;
   border-radius: 150px;
   left: 53%;
   bottom: 52%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.button2{
   height: 100px;
   width: 100px;
   background:red;
   position: absolute;
   border-radius: 150px;
   left: 60%;
   bottom: 52%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.button3{
   height: 100px;
   width: 100px;
   background: turquoise;
   position: absolute;
   border-radius: 150px;
   left: 67%;
   bottom: 52%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
/*----------------------footer-------------------*/

.image{
   width: 23px;
    height: 20px;
    border-radius: 20%;
    }
footer{
   flex-shrink: 0;
   border-top: 1px solid #000;
   width: 100%;
   margin-top: 200px;
}
.end{
   width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: start;
   font-size: 15px;
   padding: 50px 0 100px;
   justify-content: space-between;
}
.end ul{
   list-style: none;
}
/*---------------------------Media Queries------------------------*/

@media screen and (max-width: 1024px) {
   main{
      max-width: 500px;
      width: 500px;
   }
   .navbar{
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-direction: column;
   }
   .header{
      width: 300%
   }
   .header__title{
      justify-content: center;
      text-align: center;
      align-items: center;
   }
   .header__link{
      width: 300%;
   }
   .nav--link{
      justify-content: center;
      text-align: center;
      align-items: center;
   }
   .flexbox{
      justify-content: center;
      text-align: center;
      align-items: center;
      display: flex;
   }
   .flexbox__main ul{
      flex-direction: column;
   }
   .flexbox__main{

   }
   .flexbox__img{
      height: 300px;
      width: 300px;
      border-radius: 200px;
      object-fit: cover;
   }
   .flexbox li{
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0%;
   }
   .img{
      margin: 0;
   }
}
@media screen and (min-width: 1025px) {

}
   