/*----------------------Head----------------*/
body{
    min-height: 100vh;
    min-width: 100vh;
    background: #e7e7e7;
}
html{
    scroll-behavior: smooth;
}
.header title{
    color: solid blueviolet
}
/*-----------------Header------------*/

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
 }
 .header__title{
    padding-left: 6rem;
 }
 .header__link{
    width: 15%;
 }
 .header__nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 2px;
 }
 .nav--link{
    border-right: 2px solid black;
    padding-right: 1.5rem;
    text-decoration: none;
    color: #000;
 }
 .only{
  border-right: none;
 }
 a{
    text-decoration: none;
    color: #000;
 }
/*-------------------Main----------------*/
main{
    min-width: 500px;
    width: 90%;
    margin: 0 auto;
    height: 90%;
    display: flex;
}
.flex{
    height: 400px;
    width: 400px;
    margin: 50px;
}
main ul{
    list-style: none;
}
.box{
    height: 400px;
    width: 400px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.champ{
    height: 30px;
}
.end{
    height: 150px;
}
input[type="button"]{
     height: 100px;
     width: 100px;
     background-color: orange;
     border-radius: 150px;
     bottom: 45%;
     right: 15%;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
}
form{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    align-items: end;
}
/*----------------------footer-------------------*/
.image{
    width: 23px;
     height: 20px;
     border-radius: 20%;
     }
 footer{
    flex-shrink: 0;
    border-top: 1px solid #000;
    width: 100%;
    margin-top: 300px;
 }
 .footer-contact{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 15px;
    padding: 50px 0 100px;
    justify-content: space-between;
 }
 .footer-contact ul{
    list-style: none;
 }
 .footer-contact h4{
    align-items: center;
    text-align: center;
  }
/*---------------------------Media Queries------------------------*/

@media screen and (max-width: 1024px) {
    body{
        display: contents;
    }
    /*------------------header----------------*/
    header{
        flex-direction: column;
        height: 25px;
     }
     .header__title{
        margin-left: 20px;
     }
     .header__link{
        width: 420px;
     }
     /*-----------------main--------------*/
    main{
        flex-direction: column;
        min-width: 300px;
    }
    .flex{
         text-align: center;
         width: 200px;
         height: 200px;
    }
    form{
        display: block;
        text-align: center;
        align-items: center;
        width: 350px;
     }
     .btn{
        width: 100px;
        margin-left: 130px;
     }
      /*-------------------footer-----------------*/

  .image{
    width: 23px;
     height: 20px;
     border-radius: 20%;
     }
    footer{
    border-top: 2px solid #000;
    max-width: 200%;
    width: 377px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .footer-contact{
    display: flex;
    width: 200px;
    margin: 0 0;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    }
    .footer-contact h4{
    align-items: center;
    text-align: center;
    }
    .footer-contact ul{
    list-style: none;
    } 
        
}

