/*----------------------Head----------------*/
body{
    min-height: 100vh;
    min-width: 100vh;
    background: #e7e7e7;
}
html{
    scroll-behavior: smooth;
}
.header title{
    color: solid blueviolet
}
/*-----------------Header------------*/

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
 }
 .header__title{
    padding-left: 6rem;
 }
 .header__link{
    width: 15%;
 }
 .header__nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 2px;
 }
 .nav--link{
    border-right: 2px solid black;
    padding-right: 2.5rem;
    text-decoration: none;
    color: #000;
 }
 .only{
  border-right: none;
 }
 a{
    text-decoration: none;
    color: #000;
 }
/*-------------------Main----------------*/
main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-width: 700px;
}
/*-------------------flexbox------------*/

.flexbox li{
    list-style: none;
}
.flexbox{
    width: 600px;
    justify-content: center;
    align-items: center;
 }
.box img{
     height: 160px;
     width: 260px;
     border-radius: 40px;
}
/*-------------------Dr_norman-----------*/

.Dr_Norman{
    display: flex;
    width: 700px;
    align-items: center;
 }
.norman_link{
    height: 160px;
     width: 260px;
     border-radius: 40px;
}
/*--------------------sunnyside---------------*/

.sunnyside{
    display: flex;
    width: 700px;
    align-items: center;
}
.sunnyside_link{
    height: 160px;
     width: 260px;
     border-radius: 40px;
}
/*--------------------portfolio-----------------*/

.portfolio{
    display: flex;
    width: 700px;
    align-items: center;
}
.portfolio_link{
    height: 160px;
     width: 260px;
     border-radius: 40px;
}
/*----------------------footer-------------------*/
.image{
    width: 23px;
     height: 20px;
     border-radius: 20%;
     }
 footer{
    flex-shrink: 0;
    border-top: 1px solid #000;
    width: 100%;
    margin-top: 50px;
 }
 .footer-projet{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 15px;
    padding: 50px 0 100px;
    justify-content: space-between;
 }
 .footer-projet ul{
    list-style: none;
 }
 .footer-projet h4{
    align-items: center;
    text-align: center;
  }
/*---------------------------Media Queries------------------------*/

@media screen and (max-width: 1024px) {
    body{
        display: contents;
    }
    /*------------------header----------------*/
    header{
        flex-direction: column;
        height: 25px;
     }
     .header__link{
        width: 420px;
     }
     /*------------------main---------------*/
     main{
      display: contents;
     }
     .title{
        width: 350px;
     }
     .flexbox{
      width: 0;
     }
     .Dr_Norman{
        flex-direction: column-reverse;
        width: 325px;
     }
     .sunnyside{
        flex-direction: column-reverse;
        width: 325px;
     }
     .portfolio{
        flex-direction: column-reverse;
        width: 325px;
     }
     /*-------------------footer-----------------*/

    .image{
    width: 23px;
     height: 20px;
     border-radius: 20%;
     }
    footer{
    border-top: 2px solid #000;
    max-width: 200%;
    width: 377px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .footer-projet{
    display: flex;
    width: 200px;
    margin: 0 0;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    }
    .footer-projet h4{
    align-items: center;
    text-align: center;
    }
    .footer-projet ul{
    list-style: none;
    } 
 }